{% extends 'base.html' %}

{% block title %}

{{project.title}}

{% endblock title %}


{% block content %}

<h1>{{project.title}}</h1>
<a href="{{project.url}}">رابط الموقع</a>


<h5 class="mt-5">معلومات عامة</h5>
<div class="table-responsive">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">اسم المشروع</th>
        <th scope="col">اسم الموقع</th>
        <th scope="col">تاريخ البداية</th>
        <th scope="col">تاريخ التسليم</th>
        <th scope="col">مجال المشروع</th>
        <th scope="col">نشاط المشروع</th>
        <th scope="col">عدد الصفحات</th>
        <th scope="col">عدد الحقول</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{project.id}}</th>
        <td>{{project.title}}</td>
        <td>{{project.website_name}}</td>
        <td>{{project.start_date}}</td>
        <td>{{project.end_date}}</td>
        <td>{{project.website_field}}</td>
        <td>{{project.website_activity}}</td>
        <td>{{pages.count}}</td>
        <td>{{fields.count}}</td>
      </tr>
    </tbody>
</table>

</div>


<h5 class="mt-5">الصفحات</h5>
<div class="table-responsive">

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">اسم الصفحة</th>
        <th scope="col">مرجع الصفحة</th>
        <th scope="col">رابط الصفحة</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for page in pages %}
      <tr>
        <th scope="row">{{page.id}}</th>
        <td>{{page.name}}</td>
        <td>{{page.reference}}</td>
        <td><a href="{{page.url}}">{{page.url}}</a></td>
        <td>
            <a href="{% url 'fahrasah:del-page' page.id %}" class="btn btn-danger">حذف</a>
            <a href="{% url 'fahrasah:edit-page' page.id %}" class="btn btn-primary">تعديل</a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
</table>
</div>

<a href="{% url 'fahrasah:add-page' project.id %}" class="btn btn-dark">إضافة صفحة</a>
<a href="{% url 'fahrasah:del-duplicated-pages' project.id %}" class="btn btn-danger">حذف المكرر</a>


<h5 class="mt-5">الحقول</h5>
<div class="table-responsive">

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">اسم الحقل</th>
        <th scope="col">وصف الحقل</th>
        <th scope="col">مرجع الحقل</th>
        <th scope="col">قاعدة بيانات</th>
        <th scope="col">الصفحة</th>
        <th scope="col">سطر الأمر</th>
        <th scope="col">رابط الحقل</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for field in fields %}
      <tr>
        <th scope="row">{{field.id}}</th>
        <td>{{field.name}}</td>
        <td>{{field.description}}</td>
        <td>{{field.reference}}</td>
        <td>{{field.database}}</td>
        <td>{{field.page}}</td>
        <td>{{field.cmd}}</td>
        <td><a href="{{field.url}}">{{field.url}}</a></td>
        <td>
            <a href="{% url 'fahrasah:del-field' field.id %}" class="btn btn-danger">حذف</a>
            <a href="{% url 'fahrasah:edit-field' field.id %}" class="btn btn-primary">تعديل</a>
    
        </td>
      </tr>
    </tbody>
    {% endfor %}
</table>
</div>

<a href="{% url 'fahrasah:add-field' project.id %}" class="btn btn-dark">إضافة حقل</a>
<a href="{% url 'fahrasah:del-duplicated-fields' project.id %}" class="btn btn-danger">حذف المكرر</a>

{% endblock content %}